<div class="container">
  <egg-directive></egg-directive>
  <a ng-click="gotoBottom()">Go to bottom</a>
  <p>
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>text
  <p>
  <p>
    <a id="bottom"></a>You're at the bottom!
</div>
